.post {
    border: 3px solid black;
    display: flex;
    width: 550px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:  50px 150px;
}

.post button {
    width: 80px;
    height: 50px;
    background-color: rgb(255 217 102);
    border: 3px solid black;
    box-shadow: 5px 5px 10px black;
    font-size: 20px;
}

.post p {
    font-size: 30px
}

.post h1 {
    margin-right: 130px;
}